.products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
    gap: 10px;
    margin: 10px 0;
  }
  
  .products img {
    cursor: pointer;
  }
  
  .card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }